.dashboard_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F5F5F5;
}

.sidebar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 24px;
    gap: 10px;
    position: absolute;
    width: 248px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #fff;
}